* {
 margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
 display: flex;
 justify-content:center;
 align-items: center;
 height:100vh;
 background: radial-gradient(circle, #0b456b, #021c37);
}

.clock {
 width: 500px;
 height: 500px;
 position:relative;
 background: radial-gradient(circle, #05263c, #000d1a);
 border-radius: 50%;
 display:flex;
 justify-content: center;
 align-items: center;
}

.clock::before{
 width: 525px;
 height: 525px;
 position: relative; 
 background: linear-gradient( #00d9ff, #ee00ff);
 border-radius: 50%;
box-shadow: 0 0 20px;
 display: flex;
 justify-content : center;
 align-items: center;
}

.number{
transform: rotate(calc(30deg * var(--n)));
position: absolute;
text-align: center;
inset: 20px;
font-size: 40px;
color: #00d9ff;
text-shadow: 0 0 30px #ee00ff;
}

.number b{
transform: rotate(calc(-30deg * var(--n)));
display: inline-block;
}

.center-dot{
position: absolute;
width: 25px;
height: 25px;
border: 6px solid #00d9ff;
background: #ee00ff;
border-radius: 50%;
}

.hour-hand, .minute-hand, .second-hand{
 --rotate: 0;
 position: absolute;
 left: 50%;
 bottom:50%;
 transform: translate(-50%) rotate(calc(var(--rotate)* 1deg));
 transform-origin: bottom;
border-radius: 30px 30px 0 0;
}

.hour-hand{
 width: 15px;
 height: 130px;
 background: linear-gradient(to top, #00d9ff, #ee00ff);
}

.minute-hand{
 width: 10px;
 height: 150px;
 background: linear-gradient(to top, #00d9ff, #ee00ff);
}

.second-hand{
 width: 5px;
 height: 180px;
 background: linear-gradient(to top, #00d9ff, #ee00ff);
}
