body{
  font-family: "Permanent Marker", cursive;
  background: white; 
  color: black;
}
.cell{
  width: 75px; 
  height: 75px;
  border: 2px solid; 
  box-shadow: 0 0 0 2px;
  line-height: 75px; 
  font-size: 50px; 
  cursor: pointer;
}

#gameContainer{
  text-align: center;
}

#cellContainer{
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

button{
  font-weight: bold;
  border-radius: 10px;
  padding: 0;
  border: solid; 
  background: white; 
  color: black; 
  cursor: pointer;
}

#scoreBoard{
  text-align: left;
  color: black; 
  font-size: 20px;
}
#lightMode{
  width: 100px;
  height: 30px; 
  background: white;
  color: white;
}

#darkMode{
  width: 100px;
  height: 30px;
  background: white;
  color:black;
}
