url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

margin:0; 

padding:0;

box-sizing:border-box;

}   

body{

background:#e9c46a; 

font-family: Merriweather, serif;

}

.container{

padding:30px;   

width:420px;

background:#232534;

background:#FFF;

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

border-radius:5px;

padding-bottom:30px;


}

.container h2{

text-align:center;

font-size:17px;

letter-spacing:2px;

color:#264653;

margin-top:3px;

text-transform:uppercase;

}

.container .reset-btn{

all:unset; 

height:40px;

width:160px;

background:#264653;

color:#FFF;

display:flex;

align-items:center;

justify-content:center;

border-radius:3px;

margin:auto;

margin-top:18px;

text-transform:uppercase;

letter-spacing:1px;

font-size:12px;

cursor:pointer;

}

.container .game{

width:100%;  

height:350px;

margin-top:25px;

display:flex;

flex-wrap:wrap;

gap:7px;

transform-style:preserve-3d;

perspective:500px;

}

.item{

position:relative; 

height:74px;

width:74px;

background:white;

display:flex;

align-items:center;

justify-content:center;

font-size:25px;

transition:all .25s;

transform:rotateY(180deg);

border:2px solid #000;

border-radius:3px;

}

.item.boxOpen{

transform:rotateY(0deg);

}

.item::after{

content:"";  

position:absolute;

inset:0;

background:#f4a261;

transition:all .25s;

transform:rotateY(0deg);

backface-visibility:hidden;

}

.boxOpen::after,.boxMatch::after{

transform:rotateY(180deg);        

}

::selection {

background:rgb(100, 149, 237, 0.8);

color:white;

}

//design, measurements, colors, fonts, etc for all containers
