.div-wrapper{
  display:grid;
  grid-template-columns: repeat(2,1fr);
  height:230vh;
  grid-auto-rows: 110px;
  grid-template-areas:
    "one one" 
    "one one" 
    "one one" 
    "one one"
    "one one"
    "two two"
    "two two"
    "two two"
    "two two"
    "two two"
    "three three"
    "three three"
    "three three"
    "three three"
    "three three"
    "four four"
    "four four"
    "four four"
    "four four"
    "four four"
    "five five"
    "five five"
    "five five"
    "five five"
    "five five"
    "five five"
     "six six"
     "six six
     "six six"
     "six six"
     "six six";
     

    
}
.one{
  grid-area:one;
  border: 3px solid white; 
}
.two{
  grid-area:two;
   border: 3px solid white; 
  
 
}
.three{
  grid-area:three;
  border: 3px solid white; 
}
.four{
  grid-area:four;
  border: 3px solid white; 
}
.five{
  grid-area:five;
  border: 3px solid white; 
}
.six{
  grid-area:six;
  border: 3px solid white; 
}
