:root {
  --icon-width: 79px;
  --icon-height: 79px;
  --num-icons: 9;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
  background: linear-gradient(45deg, grey 0%, lightgray 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.debug {
  position: fixed;
  top: 4px;
  left: 50%;
  transform: translateX(-50%);
  padding: 4px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: monospace;
  font-size: 1.6rem;
  z-index: 10;
}

.slots {
  width: calc(3 * var(--icon-width) + 2 * 10px);
  height: calc(3 * var(--icon-height));
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  background: white;
  z-index: 5;
}

.reel {
  border: 1px solid black;
  width: var(--icon-width);
  height: calc(3 * var(--icon-height));
  background-image: url('https://assets.codepen.io/439000/slotreel.webp');
  background-repeat: repeat-y;
  background-position-y: 0;
}
