 body{
        background-color: #0466c8;
      }
      .cell{
        width: 75px; 
        height: 75px; 
        border: 2px solid;
        box-shadow: 0 0 0 2px;
        line-height: 75px;
        font-size: 50px;
        cursor: pointer;
      }
      #gameContainer{
          font-family: "Arial";
          text-align: center;
          padding: 55px;
      }
      #cellContainer{
          display: grid;
          grid-template-columns: repeat(7, auto);
          width: 560px;
          margin: auto;
          background: white;
      }
      #restartBtn{
        font-family: courier;
        border: 2px solid lavender;
        border-radius: 10%;
        padding: 10px;
        background: #ffffff
       margin: 10px;
      }

#homeBtn {
        font-family: courier;
        border: 2px solid lavender;
        border-radius: 10%;
        padding: 10px;
        background: #ffffff
}

#homeBtn:hover {
  background-color: #005fa3;
}
