body {
  font-family:Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #ffe6f0; 
  color: #333;
}

header {
  background: #ff69b4;
  color: white;
  padding: 10rem 1rem 3rem;
  text-align: center;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-title {
  font-family: 'Georgia', serif;
  font-size: 3.5rem;
  background: white;
  color: #ff69b4;
  padding: 1rem 2rem;
  border: 4px solid white;
  border-radius: 15px;
  display: inline-block;
  margin: 0 auto 1rem;
  box-shadow: 0 5px 15px rgba(255, 105, 180, 0.4);
}

nav {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  padding: 0.5rem 1rem;
}

nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s, border-bottom 0.3s;
  border-bottom: 2px solid transparent;
}

nav a:hover {
  color: #ffd6e8; 
  border-bottom: 2px solid #ffd6e8;
}

section {
  padding: 3rem 2rem; 
  max-width: 900px; 
  margin: 3rem auto; 
  font-size: 1.2rem; 
  line-height: 1.6;  
}
#about {
   background: white;
  border: 3px solid #ff69b4; 
  border-radius: 15px;
  padding: 2rem 2.5rem;
  box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3);
  margin-bottom: 4rem;
}
.project-card {
  background: white;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(255, 105, 180, 0.2);
  border-left: 6px solid #ff69b4;
}

.project-card a {
  color: #ff69b4;
  display: inline-block;
  margin-top: 0.5rem;
}
#projects {
  margin-top: 4rem;
}
footer {
  background: #ff69b4;
  color: white;
  text-align: center;
  padding: 1rem;
}
