 body {
        font-family: 'Comic Sans MS', cursive, sans-serif; 
     
        background-color: #aec3b0;
      }
      h1 {
       text-align: center;
        color: #598392;
        background-color: #eff6e0; 
        padding: 1rem;
        border: solid white 5px;
        border-radius: 100px;
        margin-top: 0.25rem;
       
      }
      h2{
        text-align: center;
        color: #598392;
        background-color: #eff6e0; 
        padding: 1rem;
        margin-top: 0.25rem;
        
      }
      img {
        width: 100%; 
        height: 200px; 
        border-radius: 20px;
      }
      div {
        display: flex;
        display: inline-block;
        margin: 35px;
        border: 2px solid white;
        padding: 20px;
        background-color: #eff6e0;
        color: rgb(177, 193, 204);
        border-radius: 10px;
      }
      
  
