@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-color: #798478;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  padding: 1rem;
  border: solid white 5px;
  border-radius: 100px;
  margin-top: 0.5rem;
  background-color: #4F83CC;
}

button {
  background-color: #4F83CC;
  color: white;
  width: 160px;
  margin-bottom: 20px;
  padding: 10px 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #084887;
  transform: scale(1.05);
}
