@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  margin: 0;
  background-color: #798478;
  font-family: 'Poppins', sans-serif;
}

.one {
  grid-area: one
}

.two {
  grid-area: two
}

.three {
  grid-area: three
}

.four {
  grid-area: four
}


.bottom {
  grid-area: bottom;
}


.div-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(10px, auto);
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "bottom";
  gap: 12px;
  padding: 20px;
  color: #fff; 
}


.div-wrapper > a,
.div-wrapper > div {
  border-radius: 10px;
  padding: 15px;
  background-color: #4F83CC;
  border: 2px solid black;
}

.div-wrapper > a:hover,
.div-wrapper > div:hover {
  transform: scale(1.02);
  background-color: #084887;
  transition: 0.9s;
}


.grid-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.grid-link:hover {
  cursor: pointer;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}



h1 {
  margin-top: 0;
  font-weight: 700;
  font-size: 3.0rem;
  color: #ffffff;
}

h2 {
  margin-top: 0;
  font-weight: 700;
  font-size: 2.0rem;
  color: #ffffff;
}

h3 {
  margin-top: 0;
  font-weight: 700;
  font-size: 1.5rem;
  color: #ffffff;
}
