* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #d4c1ec;
  justify-content: center;
  align-items: center;
}

.meta {
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: center;
}

.moves,
.timer {
  margin-right: 10px;
}

.game {
  width: 65vw;
  height: 65vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.difficulty {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.difficulty-btn,
#resetButton {
  text-align: center;
  margin: 10px; /* Adjusted margin for better centering */
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: #a06cd5;
  color: black;
  cursor: pointer;
}

#resetButton {
  display: block; /* Ensure it's a block-level element */
  margin: 20px auto; /* Center horizontally */
}
.card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  margin: 5px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  transition: transform 0.3s;
  border: solid white 1px; 
  border-radius: 5px;
}
.front{
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  background-color: white;
  
}
.back {
  width: 100%;
  height: 100%;
  padding: 2px;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  background-color: #a06cd5;
}

.card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.front {
  transform: rotateY(180deg);
}

.card.flip {
  transform: rotateY(180deg);
}


