 {margin:0;
    padding:0;
    box-sizing: border box;
    font-family: "poppins", sans-serif; 
    }
    
    body{
      height: 100vh;
      display:flex;
      align-items: center;
      justify-content: center;
       background: linear-gradient(45deg,
        #a7d3a6,#b2c9ff, #b79ced);
        
    }
    
    .rating-box{ /* design for box */ 
      position: relative;
      background: #fff;
      padding: 25px 50px 35px;
      border-radius: 25px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    }
    
    .rating-box header{ /* design for question */
      font-size: 22px;
      color: rgb(00,00,00);
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
    
    .rating-box .stars { /*design for stars*/
      display: flex;
      align-items: center;
      gap: 25px;
    }
    
    .stars i { 
      color: #e6e6e6;
      font-size: 35px;
      cursor: pointer; /*when cursor clicks*/
      transition: color 0.2s ease;  /*change colors on click*/
    }
    
    .stars i.active {
      color: #ff9c1a; /*color it changes to*/
    }
    
    
    
