@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  background: #edeaff;
  font-family: "Oswald", sans-serif;
}

.stopwatch {
  width: 40%;
  max-width: 400px;
  background-image: linear-gradient(rgba(255, 0, 90, 0), rgba(0, 0, 0, 0.8)), url('https://free-vectors.net/_ph/6/805542910.jpg');
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 10px 0;
  color: #1d3557;
  margin: 150px auto 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.stopwatch h1 {
  margin-top: 60px;
  font-size: 64px;
  font-weight: 300;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons img {
  width: 50px;
  margin: 0 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.buttons img:nth-child(2) {
  width: 70px;
}
